form.form(
  ng-add-snapshot
  name="addSnapshotForm"
  ng-submit="submit()"
)
  .text-center.mb-20.form-title Take a snapshot

  .field
    label
      span Session was...
      select(
        ng-model="req.hourOffset",
        ng-options="n as hourOffsetStr(n) for n in hourOffsetRange"
      )

  include ./snapshot-fields.jade

  .field.errors(ng-if="error") {{ error }}

  .field.btns
    input.btn.submit(
      type="submit",
      ng-disabled="loading || addSnapshotForm.$invalid"
      value="{{ loading ? 'Submitting...' : 'Submit' }}"
    )
