form.form(
  ng-add-location,
  name="addLocationForm"
)
  .field
    label
      span Name
      input(
        placeholder="Molokini North Shore "
        type='text', ng-model='req.name', ng-required="true"
      )

  .field
    label
      span
        a(href="http://www.ndbc.noaa.gov/rmd.shtml", target="_blank") Buoys
      input(type='text', ng-model='req.buoys', placeholder="#####, #####, #####, ...")

  .field
    label
      span 
        a(
          href="https://github.com/moment/moment-timezone/blob/develop/data/packed/latest.json"
          target="_blank"
        ) Timezone
      input(type='text', ng-model='req.timezone', placeholder="Pacific/Honolulu")

  .field
    label
      span 
        a(
          ng-href="{{ 'https://www.google.com/search?q=' + req.name + '+latitude' }}"
          target="_blank"
        ) Latitude
      input(type='text', ng-model='req.latitude', placeholder='20.6310')

  .field
    label
      span 
        a(
          ng-href="{{ 'https://www.google.com/search?q=' + req.name + '+longitude' }}"
          target="_blank"
        ) Longitude
      input(type='text', ng-model='req.longitude', placeholder='-156.495')

  .field.errors(ng-if="error") {{ error }}

  .field.text-center.mt-20
    span.btn.left.cancel(ng-click="addLocation.isOpen = false") Cancel
    | &nbsp;
    input.btn.right.submit(
      type="submit",
      ng-click="submit()",
      ng-disabled="loading || addLocationForm.$invalid || addLocationForm.$pristine"
      value="Submit"
    )
    .clear
