form.form(
  name="addSnapshotForm"
)
  .field
    label
      span Time
      select(
        ng-model="req.timeOffset",
        ng-options="n as timeOffsetStr(n) for n in timeOffsetRange"
      )

  .field
    label
      span Quality
      select(ng-model="req.quality")
        option(ng-repeat="key in QUALITY_KEYS", ng-value="key") {{ QUALITIES[key] }}
  .field
    label
      span Waveheight (backs)
      select(ng-model="req.waveheight")
        option(ng-repeat="key in WAVE_HEIGHT_KEYS", ng-value="key") {{ WAVE_HEIGHT_KEYS[key] }

  .field.errors(ng-if="error") {{ error }}

  .field.text-center
    span.btn.cancel(ng-click="addSnapshot.isOpen = false") Cancel
    | &nbsp;
    input.btn.submit(
      type="submit",
      ng-click="submit()",
      ng-disabled="loading || addSnapshotForm.$invalid || addSnapshotForm.$pristine"
      value="Submit"
    )
