form.form(
  ng-add-snapshot
  name="addSnapshotForm"
)
  .text-center.mb-20.form-title Take a snapshot

  .field
    label
      span Session was...
      select(
        ng-model="req.hourOffset",
        ng-options="n as hourOffsetStr(n) for n in hourOffsetRange"
      )

  .field
    label
      label.radio-label(ng-repeat="n in qualities")
        input(
          type="radio",
          ng-model="req.quality",
          ng-value="n"
        )
        {{ QUALITIES[n] }}

  .field
    label
      span Waveheight (backs)
      select(
        ng-model="req.waveheight"
        ng-options="n as WAVE_HEIGHTS[n] for n in waveHeights"
      )

  .field
    label
      textarea(
        placeholder="Description"
        ng-model="req.text"
      )

  .field
    label
      span Upload Image
      input(
        type="file",
        accept="image/png, image/jpeg",
        ng-model="req.image",
        ng-file-upload
      )


  .field.errors(ng-if="error") {{ error }}

  .field.btns
    input.btn.submit(
      type="submit",
      ng-click="submit()",
      ng-disabled="loading || addSnapshotForm.$invalid"
      value="Submit"
    )
