form.form(
  ng-update-location="#{JSON.stringify(location)}",
  ng-update-location-buoys="#{JSON.stringify(buoys)}",
  name="updateLocationForm"
)
  .field
    label
      span Name
      input(type='text', ng-model='req.name', ng-required='true')

  .field
    label
      span
        a(
          href="https://github.com/moment/moment-timezone/blob/develop/data/packed/latest.json"
          target="_blank"
        ) Timezone
      input(type='text', ng-model='req.timezone')

  .field
    label
      span Buoys
      input(type='text', ng-model='req.buoys')

  .field
    label
      span Latitude
      input(type='text', ng-model='req.latitude')

  .field
    label
      span Longitude
      input(type='text', ng-model='req.longitude')

  .field
    label
      span 
        a(
          href="http://www.stormsurfing.com/cgi/display1.cgi?a=hi_sea"
          target="_blank"
        ) Stormsurfing URL
      input(type='text', ng-model='req.stormsurfingurl')

  .field.errors(ng-if="error") {{ error }}

  .btns
    input.btn.submit(
      type="submit",
      ng-click="submit()",
      ng-disabled="loading || updateLocationForm.$invalid || updateLocationForm.$pristine"
      value="Submit"
    )

    if user.email == location.email || isAdmin
      button.btn.delete.right.btn-small(
        ng-click="deleteLocation()",
        ng-disabled="loading"
      ) Delete Location
  .clear

