extends layout
block vars
  - var bodyClass = 'index-page';

block content
  h1.banner Buoy Report

  div(ng-controller="LocationsCtrl")
    div.mb-20
      input.search-locations(
        type="text",
        ng-model="locationSearchText",
        placeholder="Search Locations"
      )

      if isAuthenticated
        span.link.add-location(ng-click="addLocation.isOpen = !addLocation.isOpen")
          |+ Add Location
      else
        a.add-location.link(href="/login")
          |+ Add Location
      .clear

    if isAuthenticated
      .mb-20(ng-if="addLocation.isOpen")
        include ./includes/add-location.jade

    ul.block-list
      for location in locations
        li(
          ng-if='!locationSearchText || locationMatchesSearch("#{location.name}")'
        )
          a(href="/locations/#{location.id}")= location.name
