extends layout
block vars
  - var bodyClass = 'index-page';

block content
  h1.banner Buoy Report

  div(ng-controller="LocationsCtrl")
    .mb-20
      input.search-locations(
        type="text",
        ng-model="locationSearchText",
        placeholder="Search Locations"
      )

      if isAuthenticated
        span.block-list-add(ng-click="addLocation.isOpen = !addLocation.isOpen")
          |+ Add Location
      else
        a.block-list-add(href="/login")
          |+ Add Location
      .clear

    if isAuthenticated
      .mb-20(ng-if="addLocation.isOpen")
        include ./includes/add-location.jade

    if isAuthenticated
      ul.block-list
        li(
          ng-repeat="location in locations|filter:{$isFavorite: true}"
          ng-if='locationMatchesSearch(location.name)'
        ).favorite
          a(ng-href="{{ '/locations/' + location.id }}")
            {{ location.name }}
            span.star(ng-click="toggleFavorite(location, $event)") &starf;

    ul.block-list.mt-10
      li(
        ng-repeat="location in locations"
        ng-if='locationMatchesSearch(location.name)'
      )
        a(ng-href="{{ '/locations/' + location.id }}")
          {{ location.name }}
          span.star(ng-click="toggleFavorite(location, $event)") &starf;
