extends layout
block vars
  - var bodyClass = 'location-page';

block headerLink
  a.header-link(href="/locations/#{location.id}")= location.name

block headerMenuItems
  if isAuthenticated
    li
      a(ng-href='#add-snapshot') Take snapshot


block container
  .buoy-data-wrap
    .buoy-data-inner-wrap
      .buoy-data.windy-view.mb-20
        iframe(
          width="300",
          height="{{ screen.width > 680 ? 568 : 320 }}",
          src="https://embed.windy.com/embed2.html?#{location.latitude},#{location.longitude},8"
          frameborder="0"
        )

      for buoy in buoys
        include ./includes/buoy-data.jade

  .container.snapshots(ng-snapshots, ng-snapshots-location="#{location.id}")
    if isAuthenticated
      .mb-20#add-snapshot
        include ./includes/add-snapshot.jade

    div(ng-repeat="snapshot in snapshots")
      include ./includes/snapshot.jade

    .info.mb-20(ng-if="page && !snapshots.length") No snapshots exist &#128546;
    .text-center
      a.btn(
        ng-disabled="loading || isLastPage"
        ng-click="load()"
      ) Load {{ snapshots.length ? 'more' : 'snapshots' }}


  if isAuthenticated
    .container.mt-20
      include ./includes/update-location.jade

